<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
  </head>

  <body>
    <header>
      <h1>
        Tech Blog
      </h1>
    </header>

    {{#each post as |posts| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <!-- Render user-specific data with Handlebars.js expressions -->
    <h2>{{posts.name}}</h2>
    <h2>{{posts.post}}</h2>
  </div>
  <div class="col-md-6">
  </div>
</div>
{{/each}}


    <footer>

    </footer>
  </body>

</html>