<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <!-- Nav bar section -->
    <nav class="nav-container">
        <header class="header">The Tech Blog</header>
        <ul class="navBar">
            <li><a href="#">Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </nav>

    <main>{{{ body }}}</main>

    <!-- Footer section -->
    <footer class="footer">
        &copy; Made with love by David Herring
    </footer>
</body>
</html>