    {{#each post as |posts| }}
    <div class="cardContainer">
      <div class="cardTitle">
        <h3 id="title">{{posts.title}}</h3>
        <h5 id="information">posted by {{posts.name}}</h5>
      </div>
      <div class="containerBody">
        <p>
          {{posts.post}}
        </p>
      </div>
    </div>
{{/each}}